@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,html{
    background: rgb(255, 255, 255);
}
.logo{
    max-width: 108px;
    max-height: 90px;
    border-radius: 1000px;
    border: 4px solid rgb(211, 9, 9);
}

#logo-container{
    /* width: 100%; */
    /* height: 100%; */
}
.title{
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 600;
}
md-tabs-canvas{
    background: rgb(63,81,181);
}
md-tab-item{
    color: white !important;
    font-weight: 600;
}
.md-active{
    font-size: 20px;
    color: rgb(255, 0, 0) !important;
    
}
